In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn import datasets
from sklearn.decomposition import PCA
from sklearn import preprocessing
# set seaborn's default settings
sns.set()

First and Foremost, the dataframe has 5 basically empty rows at the top as downloaded from the source: https://www.phase-trans.msm.cam.ac.uk/map/data/materials/austenitic.data.html   

(There is a naming convention for humans viewing the excel file.)  

This can be fixed by using the skiprows parameter in the read_excel function.

In [28]:
df = pd.read_excel('STMECH_AUS_SS.xls',skiprows=5) # skipping the first 5 rows of the excel file (6th row taken as column names)
df

,Cr,Ni,Mo,Mn,Si,Nb,Ti,Zr,Ta,V,...,Grains mm-2,Type of melting,Size of ingot,Product form,Temperature (K),0.2%proof_stress (M Pa),UTS (M Pa),Elongation (%),Area_reduction (%),Comments
0,18.7,10.69,0.47,1.56,0.62,0.01,0.04,0,0,0.0,...,477.712892,1,3,1,298,280.000000,610.000000,67,83,NRIM/CDS/No4B/1986 ABA
1,18.7,10.69,0.47,1.56,0.62,0.01,0.04,0,0,0.0,...,477.712892,1,3,1,373,243.000000,508.000000,54,83,NRIM/CDS/No4B/1986 ABA
2,18.7,10.69,0.47,1.56,0.62,0.01,0.04,0,0,0.0,...,477.712892,1,3,1,473,220.000000,472.000000,44,81,NRIM/CDS/No4B/1986 ABA
3,18.7,10.69,0.47,1.56,0.62,0.01,0.04,0,0,0.0,...,477.712892,1,3,1,573,204.000000,470.000000,43,76,NRIM/CDS/No4B/1986 ABA
4,18.7,10.69,0.47,1.56,0.62,0.01,0.04,0,0,0.0,...,477.712892,1,3,1,673,197.000000,470.000000,45,76,NRIM/CDS/No4B/1986 ABA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2175,17.7,12.28,0.00,1.24,0.30,0.83,0.00,0,0,0.0,...,Na,2,Na,1,723,171.616375,454.047895,34.9,Na,NaN
2176,17.7,12.28,0.00,1.24,0.30,0.83,0.00,0,0,0.0,...,Na,2,Na,1,773,166.713050,435.415260,33,Na,NaN
2177,17.7,12.28,0.00,1.24,0.30,0.83,0.00,0,0,0.0,...,Na,2,Na,1,823,169.655045,424.627945,34.2,Na,NaN
2178,17.7,12.28,0.00,1.24,0.30,0.83,0.00,0,0,0.0,...,Na,2,Na,1,873,168.674380,398.149990,37.6,Na,NaN
2179,17.7,12.28,0.00,1.24,0.30,0.83,0.00,0,0,0.0,...,Na,2,Na,1,973,139.254430,296.160830,45.4,Na,NaN